
body {
    background-color: rgb(235,235,235);
}

.allCards {
    font-family: bookman old style;
}

.firstCardTitle {
background-color: rgba(0, 0, 0, 0.4); 
}


.firstCardText {
    background-color:rgba(0, 0, 0, 0.4);
}

.secondCardText {
    background-color: rgba(0, 0, 0, 0.4);
}

.thirdCardText {
    background-color: rgba(0, 0, 0, 0.4);
}

.fourthCardText {
    background-color: rgba(0, 0, 0, 0.4);
}

.fifthCardText {
    background-color: rgba(0, 0, 0, 0.4);
}
